[submodule "firmware/lib/Adafruit_MPU6050"]
	path = firmware/lib/Adafruit_MPU6050
	url = https://github.com/adafruit/Adafruit_MPU6050.git
[submodule "firmware/lib/Adafruit_BusIO_"]
	path = firmware/lib/Adafruit_BusIO_
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "firmware/lib/Adafruit_Sensor"]
	path = firmware/lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "firmware/lib/AsyncTCP"]
	path = firmware/lib/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "firmware/lib/ESPAsyncWebserver"]
	path = firmware/lib/ESPAsyncWebserver
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "firmware/lib/NTPClient"]
	path = firmware/lib/NTPClient
	url = https://github.com/aliffathoni/NTPClient
[submodule "firmware/lib/Firebase"]
	path = firmware/lib/Firebase
	url = https://github.com/mobizt/Firebase-ESP32.git
[submodule "firmware/lib/TFT_eSPI"]
	path = firmware/lib/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
